name: Deploy service

# on merge
on:
  push:
    branches:
      - main
    paths:
    - '.dvc/**'
    - '.github/workflows/deploy_service.yml'
    - '**.dvc'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Check out repository
      uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: 3.7
    # - name: Set up dvc
    #   uses: iterative/setup-dvc@v1
    #   with:
    #     version: '1.0.1'
    - name: Checkout data (DVC)
      run: |
        pip install dvc[gdrive]
        mkdir -p .dvc/tmp
        dvc remote modify myremote gdrive_use_service_account true
        echo '${{ secrets.GDRIVE_CREDENTIALS_DATA }}' > .dvc/tmp/credentials.json
        dvc remote modify --local myremote gdrive_service_account_json_file_path .dvc/tmp/credentials.json
        dvc pull -v
      #env:
        #GDRIVE_CREDENTIALS_DATA: ${{ secrets.GDRIVE_CREDENTIALS_DATA }}
    - name: Deploy to Heroku
      uses: akhileshns/heroku-deploy@v3.12.12 # This is the action
      with:
        heroku_api_key: ${{secrets.HEROKU_API_KEY}}
        heroku_app_name: ${{ secrets.HEROKU_APP }}
        heroku_email: ${{ secrets.HEROKU_EMAIL }}
